.body {
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.container {
    width: 60vw;
    background-color: antiquewhite;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: auto;
    padding: 50px 0;
    gap: 20px;
}

header {
    display: flex;
    gap: 60px;
    text-decoration: underline;
}

.card {
    display: flex;
    gap: 40px;
    border: 1px solid black;
    border-radius: 5px;
    padding: 0 20px;
    align-items: center;
}

.card button {
    border: 0;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

#delete {
    background-color: red;
}

#edit {
    background-color: yellow;
}
