@import url("colors/viollet_pallet.css");

table {
    margin: auto;
}
table th {
    background-color: var(--secondColor);
    font-weight: bold;
}

table td {
    background-color: "white";
    color: var(--firstColor);
}

h1 {
    color: var(--firstColor);
}

button {
    background-color: var(--secondColor);
    border-color: var(--firstColor);
    padding: 0.5rem 1rem;
    margin: 0.5rem 0.3rem;
    border-radius: 6px;
    font-weight: 600;
}

button:hover {
    background-color: var(--firstColor);
    border-color: var(--secondColor);
    color: white;
}
