.table tbody tr td {
    padding: 0.5rem 2rem;
    margin: auto 10px;
}

.table td.actions {
    padding: 0.5rem 0.5rem;
}

.table thead {
    background-color: gray;
    color: black;
}

.table-odd tbody tr:nth-child(odd) {
    background-color: lightgray;
}

.table-hover tbody tr:hover {
    background-color: darkgrey;
    color: #303032;
    font-weight: bolder;
}
.table-hover tbody tr:hover td {
    overflow: hidden;
    word-break: break-all;
}
